<footer class="container-fluid bg-light text-center py-3 border-top bg-body-secondary" style="margin-top: 10px;">
  <p class="mb-0">&copy; <%= new Date().getFullYear() %> Jarmo Marczinkowsky</p>
</footer>