
<div style="margin: 0 auto; width: 80%">
    <div class="container py-5">
        
        <h2 class="mb-4">Epics & User Stories</h2>

        <!-- Epic 1 -->
        <p>
            <button class="btn btn-primary w-100 text-start" type="button" data-bs-toggle="collapse"
                data-bs-target="#epic1" aria-expanded="false" aria-controls="epic1">
                Epic 1 - Ik wil een overzicht van films kunnen beheren
            </button>
        </p>
        <div class="collapse" id="epic1">
            <div class="card card-body">
                <ul>
                    <li>Als administrator wil ik een lijst van films kunnen weergeven</li>
                    <li>Als administrator wil ik de details van een enkele film kunnen bekijken</li>
                    <li>Als administrator wil ik een film kunnen aanmaken</li>
                    <li>Als administrator wil ik een bestaande film kunnen bewerken</li>
                    <li>Als administrator wil ik een bestaande film kunnen verwijderen</li>
                </ul>
            </div>
        </div>

        <!-- Epic 2 -->
        <p>
            <button class="btn btn-success w-100 text-start" type="button" data-bs-toggle="collapse"
                data-bs-target="#epic2" aria-expanded="false" aria-controls="epic2">
                Epic 2 - Als administrator wil ik graag dat gebruikers een veilige toegang hebben tot de applicatie.
            </button>
        </p>
        <div class="collapse" id="epic2">
            <div class="card card-body">
                <ul>
                    <li>- Als administrator wil ik kunnen inloggen met een emailadres en een wachtwoord, zodat
                        alleen ik toegang tot de applicatie heb als de gegevens in orde zijn.</li>
                    <li>- Als administrator wil ik dat gebruikers niet bij sommige pagina’s kunnen (film bewerken,
                        film aanmaken, film verwijderen, etc.), zodat gevoelige data voldoende beschermd blijft.
                    </li>
                </ul>
            </div>
        </div>

        <!-- Epic 3 -->
        <p>
            <button class="btn btn-warning w-100 text-start" type="button" data-bs-toggle="collapse"
                data-bs-target="#epic3" aria-expanded="false" aria-controls="epic3">
                Epic 3 - Als administrator wil ik dat films op een overzichtelijke en schaalbare wijze weergegeven
                worden
            </button>
        </p>
        <div class="collapse" id="epic3">
            <div class="card card-body">
                <ul>
                    <li>Als database beheerder wil ik dat de pagina die de lijst aan films bevat uit meerdere
                        pagina’s bestaat, zodat de database geen grote sets aan data hoeft terug te geven.</li>
                    <li>Als gebruiker wil ik dat de pagina snel laadt (binnen 5 seconden), zodat ik efficiënt kan
                        werken.</li>
                    <li>Als administrator wil ik dat de films op een overzichtelijke wijze (denk aan een grid of
                        lijst) weergegeven worden, zodat de data op een overzichtelijke wijze overgebracht wordt
                    </li>
                </ul>
            </div>
        </div>
    </div>
      <div style="margin-bottom: 53vh"></div>
</div>