<h2>Found another movie</h2>

<p>Movie ID: <%= movieId %></p>
<p>Movie Title: <%= movieId.title %></p>
<p>Movie Description: <%= movieId.description %></p>
<button type="button" class="btn btn-primary">Primary</button>