<h2>Found another movie</h2>

<p>Movie ID: <%= singleMovie.film_id %></p>
<p>Movie Title: <%= singleMovie.title %></p>
<p>Movie Description: <%= singleMovie.description %></p>
<button type="button" class="btn btn-primary">Primary</button>